In [ ]:
print ("Lorem ipsum dolor sit amet,\n" "consectetur adipiscing elit,\n" "sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

In [ ]:
name = "Xeniia"
age = 23
body_temp = 36,6
female = True

print(name,age,body_temp,female)

Xeniia 23 (36, 6) True

In [ ]:
a = 5
b = 2

print(a+b,a-b,a*b,a/b,a**b,a%b,a//b)

7 3 10 2.5 25 1 2

In [ ]:
a = 1293472894758029458
b = 1293472894758029458.2095843

if a>b:
  print(False)
else:
  print(True)

True

In [ ]:
a = int(input('Enter your current income: '))
b = float(input('Enter your income from the previous year: '))
if a > b:
  print("Wow, you're growing")
else:
  print("Don't worry! Work hard ;)")

Enter your current income: 20
Enter your income from the previous year: 30
Don't worry! Work hard ;)

In [ ]:
a = "Tab 1"
b = "Tab 2"
sep = ' | '
print(a,sep,b)

Tab 1  |  Tab 2